form {
    font-size: 18px;
    width: 100%;
}

.custom-header {
    background-color: #17a2b8;
    color: white;
}

.input_info {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container {
    margin: 40px;
    padding: 20px;
    width: 50%;
}

h2 {
    color: #008080;
    margin-bottom: 20px;
}

.btn {
    margin-right: 10px;
    font-size: 14px; 
    padding: 8px 20px; 
    width: 150px; 
}

.table {
    margin-top: 20px;
}

.table button {
    margin-right: 5px;
}